:root {
  --beige: #d3ccbc;
  --black: #000;
  --blue: #00bfd5;
  --gray: #f5f5f5;
  --green: #769d91;
  --orange: #eb6851;
  --pink: #f7c2c3;
  --purple: #7c6990;
  --red: #db0032;
  --white: #fefefe;
  --yellow: #ffdb00;
  --secondary-yellow: #f9df8d;
  --brown: #d3ccbc;
}
