:root {
  --h1: 67px;
  --mobile-h1: 48px;

  --h2: 59px;
  --mobile-h2: 40px;

  --h3: 42px;
  --mobile-h3: 32px;

  --h4: 22px;
  --mobile-h4: 18px;

  --h5: 18px;
  --mobile-h5: 16px;

  --number: 16px;
  --mobile-number: 14px;

  --location: 17px;
  --mobile-location: 13px;

  --body: 16px;
  --mobile-body: 14px;
}

.bold {
  -webkit-text-stroke: 0.3px #fefefe;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "jf-openhuninn", sans-serif;
  font-weight: 400;
  word-break: break-all;
  color: var(--black);
}

h1,
h2,
h3 {
  -webkit-text-stroke: 0.3px var(--black);
  @media screen and (min-width: 1280px) {
    -webkit-text-stroke: 0.5px var(--black);
  }
}

h1 {
  font-size: var(--mobile-h1);
  line-height: 1.2;
  @media screen and (min-width: 1280px) {
    font-size: var(--h1);
  }
}

h2 {
  font-size: var(--mobile-h2);
  line-height: 1.2;
  @media screen and (min-width: 1280px) {
    letter-spacing: 2px;
    font-size: var(--h2);
  }
}

h3 {
  font-size: var(--mobile-h3);
  line-height: 1.2;
  @media screen and (min-width: 1280px) {
    font-size: var(--h3);
  }
}

h4 {
  font-size: var(--mobile-h4);
  line-height: 1.36;
  @media screen and (min-width: 1280px) {
    font-size: var(--h4);
  }
}

h5 {
  font-size: var(--mobile-h5);
  line-height: 1;
  @media screen and (min-width: 1280px) {
    font-size: var(--h5);
  }
}

.en {
  font-family: "Rubik", sans-serif;
}

.number {
  font-size: var(--mobile-number);
  font-family: "Rubik", sans-serif;
  line-height: 1;
  @media screen and (min-width: 1280px) {
    font-size: var(--number);
  }
}

.location {
  font-size: var(--mobile-location);
  line-height: 1.2;
  @media screen and (min-width: 1280px) {
    font-size: var(--location);
  }
}

span,
p {
  font-size: var(--mobile-body);
  line-height: 1.5;
  margin: 0;
  font-family: "jf-openhuninn", sans-serif;
  font-display: swap;
  letter-spacing: 0.7px;
  @media screen and (min-width: 1280px) {
    font-size: var(--body);
  }
}
