.article-popup {
  position: relative;
  padding: 0 20px;
  display: flex;
  background-color: var(--white);
  pointer-events: none;
  overflow-y: scroll;
  opacity: 0;
  transition: opacity 0.5s;
  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
  @media screen and (min-width: 1024px) {
    background-color: transparent;
    padding: 0;
  }
  &:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--brown);
    opacity: 0.95;
    z-index: -2;
    display: none;
    @media screen and (min-width: 1024px) {
      display: block;
    }
  }
  .content-wrapper {
    width: calc(100% - 65px);
    max-width: 626px;
    padding: 21px 0;
    transform: translateY(20%);
    opacity: 0;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    @media screen and (min-width: 768px) {
      padding: 42px 0;
    }
    @media screen and (min-width: 1024px) {
      margin: 0 auto;
      padding: 70px 0 0;
    }
    .article-cover {
      margin-bottom: 21px;
      @media screen and (min-width: 1024px) {
        margin-bottom: 42px;
      }
    }
    h4 {
      margin-bottom: 15px;
      @media screen and (min-width: 1024px) {
        margin-bottom: 20px;
      }
    }
    img {
      width: 100%;
      border-radius: 25px;
    }
    p,
    img {
      margin-bottom: 25px;
      @media screen and (min-width: 1024px) {
        margin-bottom: 60px;
      }
    }
    .space {
      padding-bottom: 80px;
    }
  }
  .close-btn {
    position: fixed;
    right: 23px;
    top: 21px;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
    @media screen and (min-width: 1024px) {
      right: 40px;
      top: 40px;
    }
  }
  .list-btns {
    position: fixed;
    right: 7px;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(20%);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1) 0.5s,
      opacity 0.5s 0.5s;
    @media screen and (min-width: 1024px) {
      right: calc(50vw - 353px);
      transform: translate(100%, 20%);
    }
    .time-tag,
    .event-tag {
      margin-bottom: 15px;
      @media screen and (min-width: 1024px) {
        margin-bottom: 20px;
      }
    }
    .event-tag {
      border-radius: 20px;
      background-color: var(--blue);
      padding: 17px 6px;
      writing-mode: vertical-lr;
      color: var(--white);
    }
    a {
      span {
        display: none;
      }
    }
  }
  .article-bg {
    padding: 0 66px;
    height: 120vh;
    z-index: -1;
    position: fixed;
    display: none;
    pointer-events: none;
    transform-origin: left center;
    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  &.open {
    opacity: 1;
    pointer-events: auto;
    .close-btn {
      opacity: 1;
    }
    .content-wrapper {
      transform: translateY(0);
      opacity: 1;
    }
    .list-btns {
      transform: translateY(0%);
      opacity: 1;
      @media screen and (min-width: 1024px) {
        transform: translate(100%, 0%);
      }
    }
  }
}
