$f1: 67px;
$mobile-f1: 48px;
$f2: 59px;
$mobile-f2: 40px;
$f3: 42px;
$mobile-f3: 32px;
$f4: 22px;
$mobile-f4: 18px;
$f5: 18px;
$mobile-f5: 16px;
$number: 16px;
$mobile-number: 14px;
$location: 17px;
$mobile-location: 13px;
$body: 16px;
$mobile-body: 14px;
