.slide-control {
  display: flex;
  align-items: center;
  .arrow-right {
    transform: rotate(-180deg);
  }
  .arrow {
    width: 35px;
    height: 25px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .slide-num {
    display: flex;
    align-items: center;
    margin: 0 20px;
    .now-num {
      font-size: 29px;
      margin-right: 8px;
    }
    .slash {
      height: 24px;
      border-left: solid 1px var(--black);
      transform: rotate(30deg);
    }
    .total-num {
      margin-top: 10px;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 1.5px;
      color: var(--black);
      margin-left: 5px;
      font-weight: 300;
    }
  }
}

.hover {
  .slide-control {
    .arrow:hover {
      opacity: 0.5;
    }
  }
}
