.cross {
  width: 26px;
  height: 26px;
  position: relative;
  cursor: pointer;
  span {
    display: block;
    background-color: var(--black);
    border-radius: 1px;
    width: 35px;
    height: 2px;
    &:first-child {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:last-child {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
