@import "setting.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap");

body {
  background-color: var(--gray);
}

* {
  box-sizing: border-box;
}

.ab-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
