.shape-button {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  svg {
    &.heart {
      width: 100%;
      height: 60px;
      path {
        fill: var(--yellow);
        transition: 0.2s;
      }
    }
    &.share {
      width: 18px;
      height: 23px;
    }
  }
}

.hover {
  .shape-button:hover {
    .heart path {
      fill: #f9df8d;
    }
  }
}
