.section-events {
  position: relative;
  padding-left: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 80px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
  @media screen and (min-width: 1520px) {
    padding: 0;
    margin: 0 auto;
    width: 1360px;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  .tab-wrapper {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    @media screen and (min-width: 1024px) {
      margin-bottom: 40px;
    }
  }
  .events-wrapper {
    position: relative;
    display: flex;
    z-index: 1;
    width: calc(100% + 20px);
    overflow: hidden;
    @media screen and (min-width: 1024px) {
      width: 100%;
    }
    .event-item {
      flex-shrink: 0;
      margin-right: 15px;
      @media screen and (min-width: 768px) {
        margin-right: 28px;
      }
      &:last-child {
        margin-right: 20px;
      }
    }
  }
  .white-circle {
    width: 350px;
    height: 350px;
    right: -100px;
    position: absolute;
    bottom: -50%;
    transform: translateY(-50%);
    z-index: -1;
    @media screen and (min-width: 1280px) {
      width: 550px;
      height: 550px;
    }
  }
  .slide-control {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    @media screen and (min-width: 1280px) {
      justify-content: flex-end;
      padding-right: 80px;
    }
  }
}

.hover {
  .section-events {
    .overflow-wrapper {
      h2,
      .tab-wrapper {
        transition: transform 0.5s;
      }
      h2 {
        transform: translateY(150%);
      }
      .tab-wrapper {
        transform: translateY(220%);
        transition-delay: 0.1s;
      }
    }
    .slideshow-wrapper {
      transform: translateY(100%);
      transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1) 0.1s;
    }
    &.animate {
      .overflow-wrapper {
        h2,
        .tab-wrapper {
          transform: translateY(0%);
        }
      }
      .slideshow-wrapper {
        transform: translateY(0);
      }
    }
  }
}
