.tab-button {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  @media screen and (min-width: 1280px) {
    height: 50px;
  }
  &.now {
    h5 {
      color: var(--white);
      &:after {
        opacity: 1;
      }
    }
  }
  h5 {
    color: var(--black);
    letter-spacing: 1px;
    position: relative;
    &:after {
      content: '';
      opacity: 0;
      height: 100%;
      width: 100%;
      padding: 10px 17px;
      border-radius: 25px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      background-color: var(--blue);
      @media screen and (min-width: 1280px) {
        padding: 16px 30px;
      }
    }
  }
}
