.tab-button {
  height: 35px;
  background-color: transparent;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
  @media screen and (min-width: 1024px) {
    height: 50px;
    margin-bottom: 0;
  }
  &.now {
    background-color: var(--blue);
    & h5 {
      color: var(--white);
    }
  }
  & h5 {
    color: var(--black);
    padding: 17px 10px;
    letter-spacing: 1px;
    @media screen and (min-width: 1024px) {
      padding: 16px 30px;
    }
  }
}
