.section-cover {
  margin-bottom: 170px;
  position: relative;
  z-index: 1;
  &.mask {
    // top: 1px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 120px;
  }
}
.section-events {
  position: relative;
  z-index: 2;
  margin-bottom: -50px;
  &.mask {
    top: 1px;
  }
}
.section-intro {
  position: relative;
  z-index: 3;
  margin-bottom: -30px;
  @media screen and (min-width: 1024px) {
    margin-bottom: -90px;
  }
}
.section-logo-intro {
  position: relative;
  z-index: 4;
  margin-bottom: -70px;
  @media screen and (min-width: 1024px) {
    margin-bottom: -140px;
  }
}
.section-service {
  position: relative;
  z-index: 5;
}
.section-ip-intro {
  position: relative;
  z-index: 6;
  margin-bottom: -40px;
  @media screen and (min-width: 1024px) {
    margin-bottom: -268px;
  }
}
.home {
  position: relative;
  .article-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}
.origin-content {
  position: relative;
  z-index: 1;
}
.mask-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  // pointer-events: none;
  // user-select: none;
  transform: translateZ(0);
  transition: inherit;
}
