.section-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.cover-container {
  margin-bottom: 170px;
  position: relative;
  z-index: 3;
  @media screen and (min-width: 1024px) {
    margin-bottom: 120px;
  }
}
.events-container {
  position: relative;
  z-index: 4;
  @media screen and (min-width: 1024px) {
    margin-bottom: -50px;
  }
}
.intro-container {
  position: relative;
  z-index: 3;
  margin-bottom: -30px;
  @media screen and (min-width: 1024px) {
    margin-bottom: -90px;
  }
}
.logo-intro-container {
  position: relative;
  z-index: 4;
  margin-bottom: -70px;
  @media screen and (min-width: 1024px) {
    margin-bottom: -140px;
  }
}
.service-container {
  position: relative;
  z-index: 5;
}
.ip-intro-container {
  position: relative;
  z-index: 6;
  margin-bottom: -40px;
  @media screen and (min-width: 1024px) {
    margin-bottom: -268px;
  }
}
.home {
  position: relative;
  .article-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}
.origin-content {
  position: relative;
  z-index: 1;
}
.mask-content {
  position: absolute;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  z-index: 2;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  // transition: inherit;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  .container-content {
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateZ(0);
  }
  .container-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform: translateZ(0);
  }
}
