.intro-bg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  img {
    width: 155px;
    height: auto;
  }
  &.heart {
    background-color: var(--blue);
    .puff {
      display: none;
    }
    .heart {
      display: block;
    }
  }
  &.puff {
    background-color: var(--orange);
    .heart {
      display: none;
    }
    .puff {
      display: block;
    }
  }
  .text {
    width: 100%;
    h3,
    h4,
    p {
      text-align: center;
      color: white;
    }
    h4 {
      margin-bottom: 10px;
    }
  }
}
