@import "styles/setting/media.scss";

.event-item {
  width: calc(100vw - 75px);
  cursor: pointer;
  @media screen and (min-width: 768px) {
    max-width: 517px;
    width: 35vw;
  }
  &.mask {
    .cover:after {
      display: block;
    }
    .event-title-wrapper {
      background-color: var(--gray);
    }
  }
  .cover {
    width: 100%;
    height: calc((100vw - 75px) / 3 * 2);
    position: relative;
    border-radius: 30px 30px 0 0;
    background-size: cover;
    background-position: center center;
    @media screen and (min-width: 768px) {
      height: calc(35vw / 3 * 2);
      max-height: 345px;
    }
    .tag {
      position: absolute;
      top: 14px;
      right: 14px;
      pointer-events: none;
    }
    .deco-0 {
      width: 23%;
      position: absolute;
      right: -4.4%;
      bottom: -0.5px;
      pointer-events: none;
    }
    .deco-1 {
      width: 42%;
      position: absolute;
      bottom: -0.5px;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
    }
    .deco-2 {
      width: 35%;
      position: absolute;
      bottom: -0.5px;
      left: 15px;
      pointer-events: none;
    }
    .deco-3 {
      width: 20%;
      position: absolute;
      bottom: -0.5px;
      left: 0;
      pointer-events: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--white);
      opacity: 0.15;
      display: none;
      width: 100%;
      height: 100%;
    }
  }
  .event-title-wrapper {
    width: 100%;
    height: 67px;
    background-color: var(--white);
    padding: 0 10px 0 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 3px 30px 0 rgba(164, 147, 130, 0.23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 768px) {
      height: 98px;
      padding: 0 30px;
      border-radius: 0 0 30px 30px;
    }
    h4 {
      pointer-events: none;
      width: calc(100% - 55px);
      @media screen and (min-width: 1024px) {
        width: calc(100% - 142px);
      }
    }
  }
}
