.section-cover {
  width: 100%;
  @media screen and (min-width: 1024px) {
    background-color: #d3ccbc;
    display: flex;
    justify-content: flex-end;
  }
  .cover-wrapper {
    .cover-mask {
      position: absolute;
      top: 0;
      left: 0;
    }
    .cover-shadow {
      position: absolute;
      bottom: 20%;
      right: 0;
      width: 100%;
      z-index: 2;
      opacity: 0.3;
      filter: blur(20px);
      @media screen and (min-width: 768px) {
        bottom: 12%;
      }
      @media screen and (min-width: 1024px) {
        width: 88vw;
        top: 0;
        bottom: auto;
      }
    }
    .cover-poster {
      width: 100%;
      position: relative;
      z-index: 3;
      margin-bottom: 12px;
      padding-top: 30px;
      @media screen and (min-width: 1024px) {
        width: 88vw;
        margin-bottom: 0;
        padding-top: 0;
      }
      .img {
        width: 100%;
        height: 108.5vw;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @media screen and (min-width: 1024px) {
          width: 100vw;
          height: 75.4vw;
        }
      }
    }
  }
  .event-title {
    z-index: 3;
    padding: 0 20px;
    position: relative;
    @media screen and (min-width: 768px) {
      padding: 0 40px;
    }
    @media screen and (min-width: 1024px) {
      padding: 0;
      position: absolute;
      top: 60%;
      left: 50px;
    }
    @media screen and (min-width: 1440px) {
      top: 649px;
    }
    .date {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
      .line {
        width: 84px;
        height: 1px;
        border-radius: 0.5px;
        background-color: var(--black);
        margin: 0 8px;
        @media screen and (min-width: 1280px) {
          margin: 0 10px;
          width: 147px;
        }
      }
    }
    h1 {
      margin-bottom: 4px;
    }
    .location {
      letter-spacing: 6px;
      @media screen and (min-width: 1280px) {
        letter-spacing: 9.3px;
      }
    }
  }
  .ab-pos {
    position: absolute;
  }
  .white-circle {
    width: 300px;
    height: 300px;
    z-index: 1;
    bottom: 0;
    right: -66px;
    @media screen and (min-width: 768px) {
      right: auto;
      left: 180px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 500px;
      max-height: 500px;
      width: 34vw;
      height: 34vw;
      top: 51%;
      left: 25px;
    }
  }
  .cover-circle {
    width: 376px;
    height: 376px;
    left: -60px;
    bottom: -50px;
    z-index: 1;
    @media screen and (min-width: 768px) {
      left: -30px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 615px;
      max-height: 615px;
      width: 48vw;
      height: 48vw;
      bottom: auto;
      top: 37%;
      left: -196px;
    }
  }
  .cover-bg {
    width: 100%;
    height: auto;
    z-index: 0;
    top: calc((88vw * 0.84) - 130px);
    display: none;
    @media screen and (min-width: 1024px) {
      display: block;
    }
    @media screen and (min-width: 1280px) {
      top: 827px;
    }
  }
  .mobile-cover-bg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 102vw;
    left: 0;
    z-index: -1;
    @media screen and (min-width: 768px) {
      top: 70vw;
    }
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  &.mask {
    // background-color: #f1efea;
    .white-circle {
      z-index: 1;
    }
    .cover-circle {
      z-index: 2;
    }
    .cover-poster {
      z-index: 3;
    }
  }
}

.hover {
  .section-cover {
    .event-title {
      overflow: hidden;
      .overflow-wrapper {
        opacity: 0;
        transform: translateY(150%);
        transition: opacity 0.5s, transform 0.5s;
        display: block;
      }
      .date {
        .line {
          @media screen and (min-width: 1280px) {
            width: 0px;
            transition: width 0.5s cubic-bezier(0.87, 0, 0.13, 1) 0.7s;
          }
        }
        span:first-child {
          opacity: 0;
          transition: opacity 0.5s 0.5s;
        }
        span:last-child {
          opacity: 0;
          transition: opacity 0.5s 1.2s;
        }
      }
    }
    .cover-circle,
    .cover-bg {
      transform: translateY(20%);
      transition: transform 0.5s;
    }
    &.animate {
      .event-title {
        .overflow-wrapper {
          opacity: 1;
          transform: translateY(0%);
        }
        .date {
          .line {
            @media screen and (min-width: 1280px) {
              width: 147px;
            }
          }
          span {
            opacity: 1;
          }
        }
      }
      .cover-circle,
      .cover-bg {
        transform: translateY(0%);
      }
    }
  }
}
